In [40]:
import pandas as pd

In [41]:
data = {
    "Header": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    "x": [24, 22, 21, 20, 22, 19, 20, 23, 24, 25, 21, 20, 20, 19, 25, 27, 28, 25, 26, 24, 27, 23, 24, 23, 22, 21, 26, 25, 26, 27],
    "y": [10, 5, 6, 3, 6, 4, 5, 9, 11, 13, 7, 4, 6, 3, 12, 13, 16, 12, 14, 12, 16, 9, 13, 11, 7, 5, 12, 11, 13, 14]
}

In [42]:
data = pd.DataFrame(data)

In [43]:
data['x^2'] = data['x']**2

In [44]:
data['xy'] = data['x']*data['y']

In [45]:
sigmaX = data['x'].sum()
sigmaY = data['y'].sum()
sigmax2 = data['x^2'].sum()
sigmaXY = data['xy'].sum()
n = data['Header'].count()

In [46]:
alfa = (sigmaY*sigmax2) - (sigmaX*sigmaXY)/(n*sigmax2) - (sigmaX**2)

In [47]:
beta = (n*sigmaXY)-(sigmaX*sigmaY)/(n*sigmax2) - (sigmaX**2)

In [48]:
alfa

np.float64(4160723.303796931)

In [50]:
beta

np.float64(-282771.39853217686)

In [51]:
data

    Header   x   y  x^2   xy
0        1  24  10  576  240
1        2  22   5  484  110
2        3  21   6  441  126
3        4  20   3  400   60
4        5  22   6  484  132
5        6  19   4  361   76
6        7  20   5  400  100
7        8  23   9  529  207
8        9  24  11  576  264
9       10  25  13  625  325
10      11  21   7  441  147
11      12  20   4  400   80
12      13  20   6  400  120
13      14  19   3  361   57
14      15  25  12  625  300
15      16  27  13  729  351
16      17  28  16  784  448
17      18  25  12  625  300
18      19  26  14  676  364
19      20  24  12  576  288
20      21  27  16  729  432
21      22  23   9  529  207
22      23  24  13  576  312
23      24  23  11  529  253
24      25  22   7  484  154
25      26  21   5  441  105
26      27  26  12  676  312
27      28  25  11  625  275
28      29  26  13  676  338
29      30  27  14  729  378